footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    height: 3vh;
    color: #DDDDDD;
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 150px ;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

  #footerLink{
    color: #DDDDDD;
    transition: 0.5s;
  }